<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MaxEpochs" value="500"/>
		<add key="LearnRate" value="0.05"/>
		<add key="Momentum" value="0.01"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
